# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific exclusions
data/*
!data/.gitkeep
!data/__init__.py
checkpoints/
wandb/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# IDE & OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
